body {
  font-family: "Raleway", sans-serif;
  background-color: white;
  scroll-behavior: smooth;
}

.navbar {
  font-weight: 100;
  position: absolute;
  top: 0;
  z-index: 3;
  left: 0;
  right: 0;
  .nav-item {
    font-size: 1.2rem;
  }
  .nav-link:hover {
    transition: border 2s;
    border-bottom: 1px solid wheat;
  }
}

#hero {
  background: url("../../assets/matrix-356024.jpg") bottom center / cover
    no-repeat;
  min-height: 850px;
  position: relative;
  h1 {
    font-family: "Questrial", sans-serif;
    line-height: 1;
  }
  #heroHeader {
    z-index: 2;
  }
  #overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  #showMore {
    font-size: 1.5rem;
    border-radius: 2rem;
  }
}

#overlay video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fa-custom-size {
  font-size: 60px;
  color: #2e8b57;
}

.fa-quote-left {
  font-size: 3rem;
}

.social-media-icons {
  font-size: 5rem;
}

.side-text {
  text-align: justify;
  line-height: 2.5;
}

.text-no-style {
  color: #2e8b57;
  text-decoration: none;
}

.text-no-style:hover {
  transition: 2s;
  color: black;
  text-decoration: none;
}

.hover-icon,
.hover-icon:hover {
  transition: 1s;
  color: black !important;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar {
    background: #1f1f1f;
    .nav-link:hover {
      border-bottom: none;
    }
  }
  #hero {
    min-height: 700px;
    h1 {
      font-size: 2rem;
    }
  }
  .fa-custom-size {
    font-size: 40px;
  }
  .social-media-icons {
    font-size: 4rem;
  }
  .side-text {
    text-align: justify;
    line-height: 1.5;
    font-size: 1rem;
  }
}
